{% extends "new/base.html" %}
{% load static %}
{% block content %}
    <div class="col align-self-center m-5">
        <div class="row justify-content-center align-items-center border border-2 border-bottom-0 border-dark rounded-4 rounded-bottom-0 fs-2 p-2" style="background-color: #0ECEE9;">
            Выходное тестирование
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center align-items-center border border-2 border-dark">
                <div class="col">
                    <div class="row justify-content-center align-items-center pt-4">
                        <div class="col-6">
                            <div class="row fs-4">
                                Укажите ваш нынешний вес
                            </div>
                            <div class="row ">
                                <input class="form-control form-control-lg" type="text" name="weight">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center pt-4 pb-4">
                        <div class="col-6">
                            <div class="row fs-4">
                                Выберите упражнеине, которое вам понравилось больше всего
                            </div>
                            <div class="row">
                                <select class="form-select form-select-lg" name="favorite_drill">
                                    {% for drill in complex_drills %}
                                    <option value="{{ drill.id }}">{{ drill.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center pt-5">
                <button type="submit" class="btn btn-primary fs-5 rounded-4 w-50">Закончить тестирование</button>
            </div>
        </form>
    </div>
{% endblock %}