{% extends "new/base.html" %}
{% load static %}
{% block content %}
    <div class="col align-self-center m-5">
        <div class="row justify-content-center p-3 fs-2 text-decoration-underline">
            Индивидуальный комплекс упражнений <br><br> Выберите наиболее интересующие вас
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col">
                <form method="post">
                    {% csrf_token %}

                    <div class="row justify-content-center fs-3 pt-5">
                        Вам подойдут такие упражнения
                    </div>
                    
                    {% for drill in drills %}
                    
                    <input type="checkbox" class="btn-check" id="btn-check-{{drill.id}}" autocomplete="off" name="drills" value={{drill.id}}>
                    <label class="btn btn-outline-secondary card m-4 rounded-5 border-dark ps-3 pe-3" for="btn-check-{{drill.id}}">
                        <div class="card-body">
                            <h5 class="card-title fs-4 text-center">{{drill.name}}</h5>
                            <p class="card-text fs-5 pt-1 text-start">{{drill.description}}</p>
                        </div>
                        <div class="p-4">
                            <div class="row">           
                                <div class="col">
                                    <div class="row justify-content-start">
                                        Количество подходов: {{drill.repeats_count}}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row justify-content-end">
                                        Количество повторений: {{drill.sets_count}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                    
                    {% endfor %}

                    <div class="row justify-content-center align-items-center p-4">
                        <button type="submit" class="btn btn-primary fs-5 rounded-4 w-25">Выбрать упражнения</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}